<div class="gallery">
    <div class="gallery__filters">
        <button class=@((currentFilter == 0) ? "gallery__filter active" : "gallery__filter") type="button" @onclick="()=> currentFilter = 0">все работы<span>@Items.Count</span></button>
        <button class=@((currentFilter == 1) ? "gallery__filter active" : "gallery__filter") type="button" @onclick="()=> currentFilter = 1">квартиры<span>@(Items.Count(item => item.Alt == "Квартира"))</span></button>
        <button class=@((currentFilter == 2) ? "gallery__filter active" : "gallery__filter") type="button" @onclick="()=> currentFilter = 2">дома<span>@(Items.Count(item => item.Alt == "Дом"))</span></button>
        <button class=@((currentFilter == 3) ? "gallery__filter active" : "gallery__filter") type="button" @onclick="()=> currentFilter = 3">коммерческие помещения<span>@(Items.Count(item => item.Alt == "Помещение"))</span></button>
    </div>
    <div class="gallery__items">
        @if (Items is not null)
        {
            if (Display > 0)
            {
                for (int i = 0; i < Display; i++)
                {
                    <div class="gallery__item">
                        <img src="@Items[i].Source" alt="@Items[i].Alt" />
                        <a href="#"></a>
                    </div>
                }
            } else
            {
                foreach (ImageModel item in Items)
                {
                    <div class="gallery__item">
                        <img src="@item.Source" alt="@item.Alt" />
                        <a href="#"></a>
                    </div>
                }
            }
        }
    </div>
    @if (Items is not null && Display < Items.Count)
    {
        <button class="gallery__show-more" type="button">показать еще работы</button>
    }
</div>

@code {
    private int currentFilter = 0;

    [Parameter]
    public List<ImageModel>? Items { get; set; }
    [Parameter]
    public int Display { get; set; } = 0;

    protected override void OnInitialized()
    {
        
    }
}
