<div class="gallery" id="gallery">
    <div class="gallery__filters">
        <button class=@((currentFilter == 0) ? "gallery__filter active" : "gallery__filter") type="button" @onclick="()=> Filter(0)" aria-label="Показать все работы">все работы<span>@AppData.Images.Count</span></button>
        <button class=@((currentFilter == 1) ? "gallery__filter active" : "gallery__filter") type="button" @onclick="()=> Filter(1)" aria-label="Показать квартиры">квартиры<span>@(AppData.Images.Count(item => item.Alt == "Квартира"))</span></button>
        <button class=@((currentFilter == 2) ? "gallery__filter active" : "gallery__filter") type="button" @onclick="()=> Filter(2)" aria-label="Показать дома">дома<span>@(AppData.Images.Count(item => item.Alt == "Дом"))</span></button>
        <button class=@((currentFilter == 3) ? "gallery__filter active" : "gallery__filter") type="button" @onclick="()=> Filter(3)" aria-label="Показать помещения">коммерческие помещения<span>@(AppData.Images.Count(item => item.Alt == "Помещение"))</span></button>
    </div>
    @if (currentFilter == 0)
    {
        <div class="gallery__items">
            @if (Items is not null)
            {
                foreach (ImageModel item in Items)
                {
                    <figure class="gallery__item">
                        <img src="@item.Source" alt="@item.Alt" />
                        <a href="#"><span>loft</span><span>Unique collection</span><img alt="Нажмите" src="images/icons/click.png" /></a>
                    </figure>
                }
            }
        </div>
    }
    else
    {
        <div class="gallery__items_filtered">
            @if (Items is not null)
            {
                foreach (ImageModel item in Items)
                {
                    <figure class="gallery__item">
                        <img src="@item.Source" alt="@item.Alt" />
                        <a href="#"><span>loft</span><span>Unique collection</span><img alt="Нажмите" src="images/icons/click.png" /></a>
                    </figure>
                }
            }
        </div>
    }


    <a class="gallery__show-more" href="#">показать еще работы</a>

</div>

@code {
    private int currentFilter = 0;

    private List<ImageModel>? Items = AppData.Images.Take<ImageModel>(10).ToList<ImageModel>();


    private void Filter(int i)
    {
        currentFilter = i;

        switch (currentFilter)
        {
            case 0: Items = AppData.Images.Take(10).ToList<ImageModel>(); break;
            case 1: Items = AppData.Images.Where(image => image.Alt.Equals("Квартира")).ToList<ImageModel>(); break;
            case 2: Items = AppData.Images.Where(image => image.Alt.Equals("Дом")).ToList<ImageModel>(); break;
            case 3: Items = AppData.Images.Where(image => image.Alt.Equals("Помещение")).ToList<ImageModel>(); break;
        }
    }
}
